header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25vh;
  z-index: -100;
  background-color: orange;
}
body {
  margin-top: 20vh;
}
main {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 50% 50%;
  justify-content: center;
}
section {
  height: 70vh;
  border: 2px solid black;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.details {
  display: grid;
  grid-template-rows: 10% 45% 45%;
}
.char-detail {
  background-color: rgba(0, 0, 0, 0.438);
}
.planet-detail {
  background-color: rgba(8, 8, 49, 0.283);
}
.loader {
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: radial-gradient(
      farthest-side at top,
      #0000 35%,
      #aa47be,
      #039be6,
      #26c6dc,
      #459e44,
      #f9ec44,
      #f68524,
      #fa3536,
      #0000
    )
    bottom/100% 50% no-repeat;
  animation: l8 2s infinite;
}
@keyframes l8 {
  0%,
  20% {
    transform: rotate(0);
  }
  40%,
  60% {
    transform: rotate(0.5turn);
  }
  80%,
  100% {
    transform: rotate(1turn);
  }
}
